---
layout: layouts/base
---
<section class="about">
    <article class="about-bio">
        {{ content | safe }}
    </article>
    <article class="about-contact">
        <div>
            <h1>Executive Committee</h1>
            <ul>
                <li>Local Board Chair, <a href="mailto:Chair@WLUAOfficials.com">Jessica Lowrance</a>
                </li>
                <li>Vice Chair, <a href="mailto:jchansen14@verizon.net">John Hansen</a></li>
                <li>Secretary, <a href="mailto:fowlerlaw42@gmail.com">Ron Folwer</a></li>
                <li>Treasurer, <a href="mailto:pdillon656@aol.com">Pat Dillon</a></li>
                <li>First Past Chair, <a href="mailto:cathyrussolax@gmail.com">Cathy Russo</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>Committee Chairs</h1>
            <ul>
                <li>Training Chair, <a href="mailto:Chair@WLUAOfficials.com">Jessica Lowrance</a></li>
                <li>Ratings Chair, <a href="mailto:Ratings@WLUAofficials.com">Mary Ann Wagner</a></li>
                <li>Mentor Program Chair, <a href="mailto:dfalz1492@gmail.com">David Falzarano</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>Assigners</h1>
            <ul>
                <li>High School Assigner, <a href="mailto:assigner@WLUAOfficials.com">Margaret Kondracki</a></li>
                <li>Youth Program Assigner, <a href="mailto:youth@WLUAOfficials.com>Jen Roane</a></li>
                <li>St. James Assigner, <a href="mailto:Chair@WLUAOfficials.com">Jessica Lowrance</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>NVYLL Junior Umpire Program</h1>
            <ul>
                <li>Youth Program Coordinator, <a href="mailto:youth@WLUAOfficials.com>">Jen Roane</a>
                </li>
            </ul>
        </div>
    </article>
</section>