---
layout: layouts/base
---

<section>
  <div class="index">
    <div>{{ content | safe }}</div>
    <div>
      <h1 style="margin-bottom: 2px;"> Announcements</h1>
      <ul>
        <li><h3>Kirlin Award Winners Announced</li></h3>
        <p>
            Congratulations to the 2021 and 2022 winners of the Madelaine B. Kirlin Award <br>
            presented annually to the umpire and junior umpire who best demonstrate <br>
            the qualities of dedication, hard work and service. 
              <a class="new-window" 
                 href="/about/#kirlin">Past winners</a>
        </p>
            <ul>
             <li> 2022 - Jen Roane and Elyse Cosgrave </li>
             <li> 2021 - Amy Stevens and Adri Cristofari </li>
            </ul>
         <br>
        <li style="color:red;">Umpire <a style="color:red;" href="/youth">Registration</a> Open NOW!</li>
        <li><h4>Youth Mandatory Meeting</li></h4>
            <ul>
             <li> TBA</li>
            </ul>
        <li><h4>USA Lacrosse</li></h4>
            <ul>
              <li> 2021 Rules Memo 
                  <a class="new-window" href="/img/pdf/usl-rules-memo.pdf" >PDF</a>
                  <a href="/img/pdf/usl-rules-memo.pdf" download> Download</a>
              </li>
              <li> 2021 Rules Interpretations 
                  <a class="new-window"  href="/img/pdf/usl-rules-interpretations.pdf" >PDF</a>
                  <a href="/img/pdf/usl-rules-interpretations.pdf" download> Download</a>
              </li>
              <li> 2021 Rules Video
                  <a class="new-window" href="https://www.youtube.com/watch?v=hXiCPxMFKXY&t=1s" ></a>
              </li>
            </ul>
      </ul>
    </div>
  </div>
  <div class="contact-form">
    <iframe 
      src="https://docs.google.com/forms/d/e/1FAIpQLSdeC404lEpQkW7Ov04s-t8AP6D8hRlG03HYF_Ee_isfONnGNg/viewform?embedded=true" 
      width="500" 
      height="1449" 
      frameborder="0" 
      marginheight="0" 
      marginwidth="0">Loading…</iframe
    >
  </div>
</section>
