---
layout: layouts/base
---

<section>
  <div class="index">
    <div>{{ content | safe }}</div>
    <div>
      <h1 style="margin-bottom: 2px;"> Announcements</h1>
      <ul>
        <li><h3> New High School Rules Memo</h3></li>
        <p>
            <li> High School and Youth Girls' Rules Changes Announced for 2025 Season | NFHS
              <a class="new-window" 
              href="https://nfhs.org/sports-resource-content/girls-lacrosse-rules-changes-2025" 
              target="_blank"></a>
   <!--           <a href="https://nfhs.org/sports-resource-content/girls-lacrosse-rules-changes-2025" 
             download>Download</a>
       -->
              </li>
         </p>
         <li><h3>Spring 2025 Adult Training Requirements</li></h3>
                 <!--
         <p> 2025 spring training is complete</p>
               -->
         <ul>
          <li style="color:blue"><h4> 1. Become a USA Lacrosse (USAL) Member</li></h4>
            <ul>
               <p>
               Be sure to register as an Official.  Already a member?  Upgrade your membership to include 
               being an Official to gain access to all training materials.</p>
            </ul>
          <li style="color:blue"><h4> 2. Complete the USAL Training Material</li></h4>
            <ul>
              <p> Complete two courses: the <em>Girls Official Apprentice Module </em> (extra fee required) and 
                <em>USAL Girls Official Annual Certification (2024)</em>.  
                Once complete, save your certifications for both courses.</p>
            </ul>
          <li style="color:blue"><h4> 3. Register with WLUA</li></h4>
             <ul>
               <p> Complete two courses: the <em>Girls Official Apprentice Module </em> (extra fee required) and 
                   <em>USAL Girls Official Annual Certification (2024)</em>.  
                   Once complete, save your certifications for both courses.
              </p>  
            </ul>        
          <li style="color:blue"><h4> 4. Sign up for and participate in an upcoming WLUA Onboarding</li></h4>
              <ul>
                <p> An onboarding email with details for the next WLUA Onboarding will be sent upon completion
                    of the above steps. The next Onboarding will begin in early December.
                    <em>Interested candidates must Register by November 25th</em>.  
                </p>
              <!--
              <li> Location to be announced</li>
              <li> Saturday, January 20, 2024, 8:00am - 1:00pm</li>
              <li style="color:red"> Attendance Mandatory</li>
            -->
            </ul> 
            <!--      
          <li><h4> Field Training</li></h4>
            <ul>
              <li> The St. James, located in Springfield, VA </li>
              <li> Sunday, January 21st and Saturday/Sunday, January 27th and 28th</li>
              <li> Two on-field trainings sessions required to complete certification </li>
              <li style="color:red"> Attendance Mandatory</li>
            </ul>       
          <li><h4> Follow-up Online Webinar</li></h4>
            <ul>
              <li> Final training wrap-up discussions and questions</li>
              <li> Online Teams Meeting </li>
              <li> TBA date and time, only if needed</li>
            </ul>
          -->
         </ul>

        <!--
        <li><h3>Kirlin Award Winners Announced</li></h3>
        <p>
            Congratulations to the 2021 and 2022 winners of the Madelaine B. Kirlin Award <br>
            presented annually to the umpire and junior umpire who best demonstrate <br>
            the qualities of dedication, hard work and service. 
              <a class="new-window" 
                 href="/awards">Past winners</a>
        </p>
            <ul>
             <li> 2022 - Jen Roane and Elyse Cosgrave </li>
             <li> 2021 - Amy Stevens and Adri Cristofari </li>
            </ul>
          -->
          <!--
         <li><h3>Youth Spring Field Training</li></h3>
         <ul>
          <li> March 12, 2023</li>
          <li> March 19, 2023 (snow date)</li>
         </ul>
        <li><h3>Youth Mandatory Meeting</li></h3>
            <ul>
             <li> TBA</li>
            </ul>
        <li><h3>USA Lacrosse</li></h3>
            <ul>
              <li> 2023 Rules Video
                <a class="new-window" 
                    href="https://www.youtube.com/watch?v=qFwK8oqZAlE" target="_blank"></a>
              </li>
              <li> 2023 Rules Interpretations 
                <a class="new-window"  
                   href="/img/pdf/2023-Girls-HS-RulesInterp.pdf" target="_blank"></a>
                   <a href="/img/pdf/2023-Girls-HS-RulesInterp.pdf" download>Download</a>
              </li>
              <li> 2023 Girls Rule Change Summary 
                <a class="new-window" 
                   href="/img/pdf/2023-GirlsYouth- RuleChangeSummary.pdf" target="_blank"></a>
                <a href="/img/pdf/2023-GirlsYouth- RuleChangeSummary.pdf" download>Download</a>
              </li>
            </ul>
      -->
      </ul>
    </div>
  </div>
</section>
