---
layout: layouts/base
---


<div style = text-align:center>
<h1>WLUA Pictures Throughout the Years</h1>
</div>

<div class="gallery-container">
    <div class="thumbnails"></div>
    <div class="slides">
      <div style = text-align:center><img src="/img/HOF-2019.jpg">2019 Hall of Fame Inductees</div>
      <div style = text-align:center><img src="/img/Kirlin Award - Jen 2.jpg"> 2022 Madelaine B. Kirline Award - Jen Roane</div>
      <div style = text-align:center><img src="/img/Draw-Pam.png"> Pam Shea Administering the Draw, date unknown</div>
      <div style = text-align:center><img src="/img/2023 State Qtr at Dominion.jpg">2023 State Quarter Final at Dominion High School. Umpires Jen Roane, Anthony Balducci, Deb Smith, and Kimberly Edmondson</div>
      <div style = text-align:center><img src="/img/2023 May - Arl Pub Schools.jpg">2023 May - Debbie DeFranco and Arlington Public Schools Thank All WLUA Officials (Jen Roane and Amy Stevens)</div>
      <div style = text-align:center><img src="/img/Draw-Hixson.jpg"> Dave Hixson Administering the Draw, date unknown</div>
      <div style = text-align:center><img src="/img/Draw-Margaret.jpg"> Margaret Kondracki Administering the Draw, date unknown</div>
      <div style = text-align:center><img src="/img/Umpires-Brett-Margaret-Amber-Amelia.png"> 2019 State Game at Langley High School. Umpires Brett Bjork, Margaret Kondracki, Amber Jensen, and Amelia Crabtree</div>
      <div style = text-align:center><img src="/img/Umpires-Emily-Jen-Amy-Kimberly-Deb.jpg"> Umpires Emily Falk, Jen Roane, Amy Stevens, Kimberly Edmondson and Deb Smith, date unknown</div>
      <div style = text-align:center><img src="/img/Umpires-Margaret-Amy-Jason-Jen.jpg"> Umpires Margaret Kondracki, Amy Stevens, Jason Aytes, and Jen Roane, date unknown</div>
      <div style = text-align:center><img src="/img/Umpires-Nilo-Pam-X.jpg"> 2019 Regional Final at Langley High School. Umpires Gary Kugler, Pam Shea, and Nilo Abril</div>
      <div style = text-align:center><img src="/img/2022 Training-Abby-Morgan.jpg"> 2022 Trainig Session with Abby Smith and Morgan Everitt</div>
      <div style = text-align:center><img src="/img/2022 Players-Officials-Morgan-Monica.jpg"> 2022 Players and Jr. Officials with Morgan Everitt and Monica White</div>
      <div style = text-align:center><img src="/img/2023-6-6 State Semi at Dominion-Allison-Pam-MA-Dave.jpg"> 2023 Class 4 State Semi at Dominion. Umpires Allison Weise, Pam Shea, MaryAnn Wagner, and Dave Hixson</div>
      <div style = text-align:center><img src="/img/2023-6-8 State Semi at St James-Kim-Margaret-MA-Jon.jpg"> 2023 Class 6 State Semi 2 at St James. Umpires Kim Edmondson, Margaret Kondracki, MaryAnn Wagner, and Jon Blaine</div>
      <div style = text-align:center><img src="/img/2023-6-8 State Semi at St James-Meaghan-Margaret-Amy-Morgan.jpg"> 2023 Class 6 State Semi 1 at St James. Umpires Meaghan Galvin, Margaret Kondracki, Amy Stevens, and Morgan Everitt</div>
      <div style = text-align:center><img src="/img/2024 Balduccis at Riverside.jpg"> 2024 Early-season Game at Riverside High School.  Umpires Anthony and Kirstie Balducci</div>
    </div>
  </div>

  <div>
    <ul>
        <li>Email Pictures, <a href="mailto:wluawebsite@gmail.com>">HERE</a>
        </li>
    </ul>
</div>