---
layout: layouts/base
---


<div style = text-align:center>
<h1>WLUA Pictures Throughout the Years</h1>
</div>

<div class="gallery-container">
    <div class="thumbnails"></div>
    <div class="slides">
      <div style = text-align:center><img src="/img/HOF-2019.jpg">2019 Hall of Fame Inductees</div>
      <div style = text-align:center><img src="/img/Kirlin Award - Jen 2.jpg"> 2022 Madelaine B. Kirline Award - Jen Roane</div>
      <div style = text-align:center><img src="/img/Draw-Pam.png"> Pam Shea Administering the Draw, date unknown</div>
      <div style = text-align:center><img src="/img/2023 State Qtr at Dominion.jpg">2023 State Quarter Final Crew (Jen Roane, Abthony Balducci, Deb Smith, and Kimberly Edmondson) at Dominion High School</div>
      <div style = text-align:center><img src="/img/2023 May - Arl Pub Schools.jpg">2023 May - Debbie DeFranco and Arlington Public Schools Thank All WLUA Officials (Jen Roane and Amy Stevens)</div>
      <div style = text-align:center><img src="/img/Draw-Hixson.jpg"> Dave Hixson Administering the Draw, date unknown</div>
      <div style = text-align:center><img src="/img/Draw-Margaret.jpg"> Margaret Kondracki Administering the Draw, date unknown</div>
      <div style = text-align:center><img src="/img/Umpires-Brett-Margaret-Amber-Amelia.png"> 2019 State Game at Langley High School. Umpires Brett Bjork, Margaret Kondracki, Amber Jensen, and Amelia Crabtree</div>
      <div style = text-align:center><img src="/img/Umpires-Emily-Jen-Amy-Kimberly-Deb.jpg"> Umpires Emily Falk, Jen Roane, Amy Stevens, Kimberly Edmondson and Deb Smith, date unknown</div>
      <div style = text-align:center><img src="/img/Umpires-Margaret-Amy-Jason-Jen.jpg"> Umpires Margaret Kondracki, Amy Stevens, Jason Aytes, and Jen Roane, date unknown</div>
      <div style = text-align:center><img src="/img/Umpires-Nilo-Pam-X.jpg"> Umpires ?, Pam Shea, and Nilo Abril, date unknown</div>
      <div style = text-align:center><img src="/img/2022 Training-Abby-Morgan.jpg"> 2022 Trainig Session with Abby Smith and Morgan Everitt</div>
      <div style = text-align:center><img src="/img/2022 Players-Officials-Morgan-Monica.jpg"> 2022 Players and Jr. Officials with Morgan Everitt and Monica White</div>
    </div>
  </div>

  <div>
    <ul>
        <li>Email Pictures, <a href="mailto:wluawebsite@gmail.com>">HERE</a>
        </li>
    </ul>
</div>