---
layout: layouts/base
title: Rules
---

<div class="rules-lists">
<div>
    <h2>National Federation of High Schools
        <a class="new-window" href="https://www.nfhs.org/activities-sports/lacrosse-girls/" target="_blank"></a>
    </h2>
        <ul>
            <li>Rules & Publications 
                <a class="new-window" 
                href="https://www.nfhs.org/activities-sports/lacrosse-girls/" target="_blank"></a>
            </li>
            <li>NFHS Rule Changes 
                <a class="new-window" 
                href="https://www.nfhs.org/sports-resource-content/girls-lacrosse-rules-changes-2024/" target="_blank"></a> 
            </li>
            <li>Arm Signals for Officials 
                <a class="new-window" 
                href="/img/pdf/2023-nfhs-girls-lacrosse-official-signals.pdf" target="_blank"></a> 
                <a href="/img/pdf/2023-nfhs-girls-lacrosse-official-signals.pdf" download>Download</a> 
            </li>
            <li></li>
        </ul>

    <h2>WLUA Game Procedures</h2>
        <ul>
            <li>
                Pregame Discussion
                <a class="new-window" href="/img/pdf/2024 Pregame Duties.pdf" target="_blank">PDF</a
                >
                <a href="/img/pdf/2024 Pregame Duties.pdf" download>Download</a>
            </li>
            <li>
                Game Timing Procedures
                <a class="new-window" href="/img/pdf/Timing procedures 2023.pdf" target="_blank">PDF</a
                >
                <a href="/img/pdf/Timing procedures 2023.pdf" download>Download</a>
            </li>
            <li>
                Carding Procedures
                <a class="new-window" href="/img/pdf/2024 Carding Procedures.pdf" target="_blank">PDF</a
                >
                <a href="/img/pdf/2024 Carding Procedures.pdf" download>Download</a>
            </li>
            <li>
                Suspended Interrupted Procedures
                <a class="new-window" href="/img/pdf/2024 Suspended Interrupted Procedures.pdf" target="_blank">PDF</a
                >
                <a href="/img/pdf/2024 Suspended Interrupted Procedures.pdf" download>Download</a>
            </li>
        </ul>
</div>


<div> 
    <h2>USA Lacrosse</h2>
        <ul>
            <li> Girls' and Women's Rules
              <a class="new-window" href="https://www.usalacrosse.com/girls-and-womens-rules" target="_blank"></a>
            </li>
            <li> 2024 Girls Rule Change Summary 
              <a class="new-window" 
                 href="https://www.usalacrosse.com/sites/default/files/documents/Rules/2024-Girls-RuleChanges.pdf" target="_blank"></a>
                 <a href="https://www.usalacrosse.com/sites/default/files/documents/Rules/2024-Girls-RuleChanges.pdf" download>Download</a>
            </li>
        </ul>
        <li></li>   

    <h2>ISL Middle School Lacrosse League</h2>
        <ul>
            <li>2024 Rules 
                <a class="new-window" href="/img/pdf/2024 ISL MS rules.pdf" target="_blank"></a>
                <a class="new-window" href="/img/pdf/2024 ISL MS rules.pdf" download>Download</a>
            </li>
        </ul>
        <li></li>        
        <h2>Northern Virginia Youth Lacrosse League</h2>
        <ul>
            <li>Rules & Regulations 
                <a class="new-window" href="https://nvyll.org/documents" target="_blank"></a>
            </li>
            <li>NVYLL Youth Rules Summary 
                <a class="new-window" href="/img/pdf/nvyll-girls-rules-summary.pdf" target="_blank"></a>
                <a class="new-window" href="/img/pdf/nvyll-girls-rules-summary.pdf" download>Download</a>
            </li>
        </ul>
</div>