---
layout: layouts/base
title: Rules
---

<div class="rules-lists">
<div>
    <h2>Girls High School Rules</h2>
        <ul>
            <li>USAL <a class="new-window" href="https://www.usalacrosse.com/girls-and-womens-rules" target="_blank"> </a> and 
                NFHS <a class="new-window" href="https://www.nfhs.org/activities-sports/lacrosse-girls/" target="_blank"></a>
                rules are the same
            </li>
            <li>2025 Rule Changes 
                <a class="new-window" 
                href="https://www.nfhs.org/sports-resource-content/girls-lacrosse-rules-changes-2025/" target="_blank"></a> 
                Comments on the Rules 
                <a class="new-window" 
                   href="https://www.nfhs.org/sports-resource-content/2025-girls-lacrosse-comments-on-the-rules/" target="_blank"></a>
            </li>
            <li>2025 ISL and WCAC Hybrid Rules 
                <a class="new-window" 
                href="/img/pdf/2025 final rule changes_ISL WCAC.pdf" target="_blank"></a>
            </li>
            <li></li>
        </ul>
     <h2>ISL Middle School Lacrosse Rules</h2>
        <ul>
            <li>2025 Rules 
                <a class="new-window" href="/img/pdf/2025 ISL MS rules.pdf" target="_blank"></a>
                <a class="new-window" href="/img/pdf/2025 ISL MS rules.pdf" download>Download</a>
            </li>
        </ul>
        <li></li>        
    <h2>Youth Lacrosse Rules</h2>
        <ul>
            <li>Youth Rules Interpretation 
                <a class="new-window" href="/img/pdf/HS-Rated Officials Youth Rules 2025.pdf" target="_blank"></a>
            </li>
            <li>Rules & Regulations 
                <a class="new-window" href="https://nvyll.org/documents" target="_blank"></a>
            </li>
            <li>NVYLL Youth Rules Summary 
                <a class="new-window" href="/img/pdf/nvyll-girls-rules-summary.pdf" target="_blank"></a>
                <a class="new-window" href="/img/pdf/nvyll-girls-rules-summary.pdf" download>Download</a>
            </li>
        </ul>  
</div>


<div> 
    <h2>WLUA Game Procedures</h2>
    <ul>
<!----           <li>
            Pregame Discussion
            <a class="new-window" href="/img/pdf/2024 Pregame Duties.pdf" target="_blank">PDF</a>
            <a href="/img/pdf/2024 Pregame Duties.pdf" download>Download</a>
        </li>
    -->
        <li>
            Game Timing Procedures - Under Review
<!---

            <a class="new-window" href="/img/pdf/2025 game timing procedures.pdf" target="_blank">PDF</a>
            <a href="/img/pdf/2025 game timing procedures.pdf" download>Download</a>
-->
        </li>
        <li>
            Game Personnel Responsibilities - All Games
            <a class="new-window" href="/img/pdf/2025 WLUA Game personnel.pdf" target="_blank">PDF</a>
            <a href="/img/pdf/2025 WLUA Game personnel.pdf" download>Download</a>
        </li>
        <li>
            Game Personnel Responsibilities - Varsity Hybrid Games
            <a class="new-window" href="/img/pdf/2025 WLUA Game personnel - varsity hybrid.pdf" target="_blank">PDF</a>
            <a href="/img/pdf/2025 WLUA Game personnel - varsity hybrid.pdf" download>Download</a>
        </li>
    </ul>
    <li></li>   

    <h2>Rules Resources <a class="new-window" href="https://www.usalacrosse.com/girls-and-womens-rules" target="_blank"></a></h2>
        <ul>
            <li>2025 Points of Emphasis 
                <a class="new-window" href="/img/pdf/2025-girls-lacrosse-points-of-emphasis.pdf" target="_blank"></a> 
                <a href="/img/pdf/2025-girls-lacrosse-points-of-emphasis.pdf" download>Download</a> 
            </li>
            <li>Arm Signals for Officials 
                <a class="new-window" 
                href="/img/pdf/2023-nfhs-girls-lacrosse-official-signals.pdf" target="_blank"></a> 
                <a href="/img/pdf/2023-nfhs-girls-lacrosse-official-signals.pdf" download>Download</a> 
            </li>
            <li>Girls' Rules Interpretation
                <a class="new-window" 
                href="/img/pdf/2025-Girls-HS-Rules-Interp.pdf" target="_blank"></a> 
                <a href="/img/pdf/2025-Girls-HS-Rules-Interp.pdf" download>Download</a> 
            </li>
            <li>Girls' Lacrosse Field Diagrams
                <a class="new-window" href="/img/pdf/USA-lacrosse_nfhs-field-diagrams.pdf" target="_blank"></a> 
                                   <a href="/img/pdf/USA-lacrosse_nfhs-field-diagrams.pdf" download>Download</a> 
            </li>
        </ul>
        <li></li> 
 
</div>