---
layout: layouts/base
---
<div class="youth">

    <div class="youth-md">
        <h2>Age Requirement for Youth Officials</h2>
        <ul>
            <li>Must be 15 before Jan 1 of your freshman year</li>
        </ul>

        <h2>Training Requirements</h2>
        <ul>
            <li>Be a USA Lacrosse member</li>
            <li>Attend training classes</li>
            <li>Pass USA Lacrosse annually</li>
            <li>Attend field training and pre-season scrimmages training dates</li>
        </ul>
        
        <h2>Annual Renewal Requirements</h2>
        <ul>
            <li>Be a USA Lacrosse member</li>
            <li>Pass USA Lacrosse annually</li>
            <li>Attend pre-season scrimmages</li>
            <li>2nd year youth official must have 2 hours of mandatory classroom training</li>
        </ul>

        <h2>Resources</h2>
        <ul>
            <li>Tips for Game Assignment <a class="new-window" href="/img/pdf/cheat-sheet.pdf">PDF</a> <a
                    href="/img/pdf/cheat-sheet.pdf" download>Download</a></li>
            <li>Northern Virginia Youth Lacrosse League<a class="new-window" href="https://nvyll.org"></a></li>
        </ul>
    </div>

</div>
<div class="youth-form">
    <iframe 
      src="https://docs.google.com/forms/d/e/1FAIpQLSdeC404lEpQkW7Ov04s-t8AP6D8hRlG03HYF_Ee_isfONnGNg/viewform?embedded=true" 
      width="500" 
      height="1449" 
      frameborder="0" 
      marginheight="0" 
      marginwidth="0">Loading…</iframe
    >
</div>