---
layout: layouts/base
---
<div class="youth">

    <div class="youth-md">
        <p style="font-size: 1.5rem; color: red;">Junior Umpire Registration Open Now!</p>
        <h1>Resources</h1>
        <ul>
            <li>Tips for Game Assignment <a class="new-window" href="/img/pdf/cheat-sheet.pdf">PDF</a> <a
                    href="/img/pdf/cheat-sheet.pdf" download>Download</a></li>
            <!--missing!-->
            <li>Timer Scorer Duties (missing) <a class="new-window" href="/img/pdf/cheat-sheet.pdf">PDF</a> <a
                    href="/img/pdf/cheat-sheet.pdf" download>Download</a></li>
            </li>
            <li>Northern Virginia Youth Lacrosse League<a class="new-window" href="https://nvyll.org"></a></li>
        </ul>
        {{ content | safe }}
    </div>

</div>
<div class="youth-form">
    <iframe 
      src="https://docs.google.com/forms/d/e/1FAIpQLSdeC404lEpQkW7Ov04s-t8AP6D8hRlG03HYF_Ee_isfONnGNg/viewform?embedded=true" 
      width="500" 
      height="1449" 
      frameborder="0" 
      marginheight="0" 
      marginwidth="0">Loading…</iframe
    >
</div>